@font-face {
	font-family: 'Billabong';
	font-style: normal;
	font-weight: normal;
	src: local('Billabong'), url('../static/Billabong.woff') format('woff');
}
body {
	background-color: #fafafa;
	color: #444;
	font-family: 'Open Sans', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'YuGothic', 'Hiragino Kaku Gothic Pro', serif;
	font-size: 15px;
	overflow-x: hidden;
	margin: 0;
}
footer, footer a {
	color: #777;
	margin-top: 40px;
	text-align: center;
	text-decoration: none;
}
footer, #main {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
h1 a {
	color: #333;
	text-decoration: none;
}
section {
	background-color: #fff;
	border: 1px solid #efefef;
	margin: 20px 0;
	padding-bottom: 10px;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 10px;
}
section h2, h3 {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
section h4 {
	margin-top: 10px;
	margin-bottom: 20px;
}
.ad-cell {
	display: table-cell;
	padding: 0 5px;
}
.btn-fb, .btn-tw {
	color: #fff;
	display: block;
	font-size: 20px;
	float: left;
	padding: 5px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
}
.btn-fb {
	background-color: #3b5998;
}
.btn-ln {
	display: none;
	background-color: #009b00;
}
.btn-text {
	margin: 3px;
}
.btn-tw {
	background-color: #1da1f2;
}
.button {
	background-color: #3f729b;
	color: #fff;
	display: block;
	font-size: 18px;
	margin: auto;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	width: 120px;
}
.en {
	color: #aaa;
	margin: 0 0 2em;
}
.header {
	background-color: #fff;
	border-bottom: 1px solid #dbdbdb;
	margin-top: -25px;
    width: 100%;
}
.pc-ads {
	display: table;
	margin: 0 auto;
	width: 700px;
}
.sp-ads {
	display: none;
}
.sns {
	height: 50px;
}
.sns-icon {
	margin: 3px 3px 2px;
}
.welcome {
	background: linear-gradient(-135deg, #d82e86, #ec6b3a);
	color: #fafafa;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	margin-bottom: 20px;
	margin-left: -70px;
	margin-right: -70px;
	margin-top: -10px;
	text-align: center;
}
#select_lang {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 5px;
    width: 180px;
}
#start {
	font-weight: bold;
	text-align: center;
}
#title {
	margin: auto;
	width: 1100px;
}
#title img {
    float: left;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 19px;
    width: 38px;"
}
#title h1 {
	font-family: Billabong;
	font-size: 38px;
	font-weight: normal;
	height: 38px;
	padding-top: 19px;		
}
/* smartphone or tablet */
@media screen and (max-width: 1100px) {
	.pc-ads {
		display: none;
	}
	.mobile-small {
		font-size: 13px;
	}
	.sp-ads {
		display: block;
		margin: 0 auto;
		width: 300px;
	}
    #title {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    footer, #main {
        width: 100%;
    }
	.btn-ln {
		color: #fff;
		display: block;
		font-size: 20px;
		float: left;
		padding: 5px;
		margin-left: 3px;
		margin-right: 3px;
		text-decoration: none;
	}
}
@media screen and (max-width: 425px) {
	body {
		font-size: 13px;
	}
	section{
		padding-left: 10px;
		padding-right: 10px;
	}
    .header {
        height: 64px;
    }
	.welcome {
		margin-left: -10px;
		margin-right: -10px;
	}
    #title h1 {
        font-size: 30px;
    }
    #title img {
        margin-right: 10px;
        width: 30px;
    }
}
@media screen and (max-width: 320px) {
	.btn-text {
		display: none;
	}
}