{% extends "base.html" %}
{% block title %}{{info['name']}} インスタチェッカー{% endblock %}
{% block head %}
    {{ super() }}
    {# URL 及び hreflang には必ず ISO 639-1 の言語コードを用いること #}
    <link rel="alternate" hreflang="id" href="{{info['url']}}/id">
{% endblock %}
{% block lang %}
        <script>
            window.onload = function() {
                let filter = document.getElementById('lang');
                filter.addEventListener('change', changeLanguage);
            }

            function changeLanguage() {
                var num = document.getElementById('lang').selectedIndex;
                var val = document.getElementById('lang').options[num].value;
                location.href = "./" + val;
            }
        </script>
        <!-- <div id="select_lang">
            language: <select name="lang" id="lang" onchange="changeLanguage();">
                <option selected disabled>Choose</option>
                <option value="id">Indonesian</option>
                <option value="">Japanese</option>
            </select>
        </div> -->
{% endblock lang %}
{% block content %}
        <!-- <section style="background-color: #f00; color: #fff; font-weight: bold;">
          <p>InstaChecker はこの度、ENICY for Instagram (<a href="https://instagram.enicy.co" rel="nofollow" style="color:#fff;text-decoration:underline">https://instagram.enicy.co</a>) として生まれ変わりました！</p>
          <p>引き続き InstaChecker もご利用いただけますが、Instagram の仕様変更により突然利用できなくなる場合がございますので、ご注意ください。</p>
          <p>ENICYをブックマークしていただけると幸いです!</p>
        </section> -->
        <section>
            <div class="welcome">
                <h2>WELCOME TO INSTACHECKER</h2>
                <p>フォロー・フォロワー関係を手軽にチェック</p>
                <p>インスタグラムユーザー向け WEB アプリケーション</p>
            </div>
            <p>「<strong>フォローされているのかわからない</strong>...」</p>
            <p>そんな悩みを解決すべく、ボタンを押すだけで<strong>片思い</strong>、<strong>相互フォロー</strong>などを一気にチェックできる WEB アプリが誕生しました！</p>
            <br>
            <p><strong>気軽に使えるシンプルさ</strong>と<strong>安全性</strong>を重要視して設計しました。</p>
            <ol>
                <li>ボタン一つの簡単な操作</li>
                <li>利用登録もインストールも不要</li>
                <li>どんな端末からでも</li>
            </ol>
            <p>ぜひインスタチェッカーを使って、快適なインスタグラムライフを楽しんでください！</p>
        </section>
        <section>
            <p>周りの友達にも紹介してね！</p>
            <div class="sns">
                <a class="btn-tw" href="http://twitter.com/share?text={{info['description']}}&url={{info['url']}}"
                    target="blank" rel="nofollow"><span class="sns-icon icon-twitter"></span><span class="btn-text">twitter</span></a>
                <a class="btn-fb" href="http://www.facebook.com/sharer/sharer.php?u={{info['url']}}&t={{info['description']}}"
                    target="blank" rel="nofollow"><span class="sns-icon icon-facebook"></span><span class="btn-text">facebook</span></a>
                <a class="btn-ln" href="http://line.me/R/msg/text/?{{info['description']}}%0D%0A{{info['url']}}"
                    target="blank" rel="nofollow"><span class="sns-icon icon-line"></span><span class="btn-text">line</span></a>
            </div>
        </section>
        <!--
        <section>
            <h2>What's INSTACHECKER?</h2>
            <p>{{info['name']}} is the web application to manage friends and followers efficiently.</p>
            <p>You can easily check your relationship.</p>
            <p>All you need to do is pushing the button.</p>
            <p>Let's enjoy comfortable life on Instagram!</p>
        </section>
        -->
        <br>
        <p class="mobile-small" style="line-height: 0; text-align: center;">スポンサーリンク</p>
{% endblock %}
{% block button %}
        <p id="start">さあ、はじめよう！</p>
        <a class="button" href="{{url}}">解析開始</a>
{% endblock button %}
{% block bug %}
        <section>
            <h2>不具合・バグ報告</h2>
            <p>稀にインスタグラムの認証に失敗し、アプリをご利用いただけないことがあります。</p>
            <p>不具合・バグは発見し次第修正していますが、インスタグラムの仕様により解決できないものが一部ございますので、ご了承ください。</p>
            <p>ご質問・不具合などのお問い合わせは <a href="{{info['url']}}/contact">Contact Us</a> からお願いいたします。</p>
        </section>
{% endblock %}
