{% extends "base.html" %}
{% block title %}{{info['name']}}{% endblock %}
{% block head %}
    {{ super() }}
    {# URL 及び hreflang には必ず ISO 639-1 の言語コードを用いること #}
    <link rel="alternate" hreflang="ja" href="{{info['url']}}">
    <style>
        body {
            font-size: 15px;
        }
    </style>
{% endblock %}
{% block lang %}
        <script>
            window.onload = function() {
                let filter = document.getElementById('lang');
                filter.addEventListener('change', changeLanguage);
            }

            function changeLanguage() {
                var num = document.getElementById('lang').selectedIndex;
                var val = document.getElementById('lang').options[num].value;
                location.href = "./" + val;
            }
        </script>
        <div id="select_lang">
            language: <select name="lang" id="lang" onchange="changeLanguage();">
                <option selected disabled>Choose</option>
                <option value="id">Indonesian</option>
                <option value="">Japanese</option>
            </select>
        </div>
{% endblock lang %}
{% block content %}
        <section>
            <div class="welcome">
                <h2>SELAMAT DATANG DI INSTACHECKER</h2>
                <p>aplikasi web untuk pengguna instagram</p>
            </div>
            <p>Situs ini emungkinkan Anda memeriksa siapa saja yang followers dan unfollowers Anda di Instagram.</p>
            <p>Yang harus Anda lakukan adalah menekan tombolnya.</p>
            <p>Mari menikmati kehidupan instagram yang nyaman!</p>
        </section>
        <section>
            <p>Let's share with your friends!</p>
            <div class="sns">
                <a class="btn-tw" href="http://twitter.com/share?text={{info['description']}}&url={{info['url']}}"
                    target="blank" rel="nofollow"><span class="sns-icon icon-twitter"></span><span class="btn-text">twitter</span></a>
                <a class="btn-fb" href="http://www.facebook.com/sharer/sharer.php?u={{info['url']}}&t={{info['description']}}"
                    target="blank" rel="nofollow"><span class="sns-icon icon-facebook"></span><span class="btn-text">facebook</span></a>
                <!--<a class="btn-ln" href="http://line.me/R/msg/text/?{{info['description']}}%0D%0A{{info['url']}}"
                    target="blank" rel="nofollow"><span class="sns-icon icon-line"></span><span class="btn-text">line</span></a>-->
            </div>
        </section>
        <br>
        <p class="mobile-small" style="line-height: 0; text-align: center;">Sponsore link</p>
{% endblock %}
{% block button %}
        <a class="button" href="{{url}}">Get Started</a>
{% endblock button %}
